.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Ativa o scroll se necessário */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}

.container_modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 15% auto; /* 15% do topo e centraliza */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}

